<section  class="first-section">
    <div class="text-center">
        <h1><%=@title%></h1>
        <hr/>
    </div>
<div class="container">
    <div class="row">
        <!-- Button trigger modal -->
        <div class="index-content">
            <div class="container">
                <% @topics.each do |topic| %>

                <a >
                    <div class="col-md-3 contianer-topic" >
                        <div class="card">
                            <%= image_tag topic.logo.url, class: 'img-responsive topic-image' %>
                            <h4><%= topic.name.capitalize %></h4>
                            <p>Commitments: <%= topic.commitments.count %></p>
                            <p><b><span class="text-success">Collected: $<%= sum_topic(topic) %> USD</span></b></p>
                            <a type="button" href="#" class="blue-button" data-toggle="modal" data-target="#myModal" onclick="updateForm(<%= topic.id %>, <%= current_user.id %>)">Commit now</a>
                        </div>
                    </div>
                </a> 

                <%end %>                    
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<%= form_for(:commitment, url: commitments_path, html: { :multipart => true, class:'well form-horizontal' }) do |form| %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form.hidden_field :topic_id, id: 'topic_id', value: 0 %>
      <%= form.hidden_field :user_id, id: 'user_id', value: 0 %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a commitment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <blockquote>Create a commitment by paying some value to the creator of the course.</blockquote>
        <div class="control-form">
            <input class="form-control" name="commitment[price]" placeholder="E.g $10"> 
        </div>
        <div class="form-group">
          <div class="card">
            <div class="col-md-12">
              <label for="exampleInputPassword1">Paymenth Methods</label>
            </div>
            <div class="col-md-6">
              <img src="http://i76.imgup.net/accepted_c22e0.png" class="img-responsive form-control" style="height: 60px;">
            </div>
            <div class="col-md-3">
              <img src="http://www.canbike.org/public/images/030114/Bitcoin_Accepted_Here-4800px.png" style="height: 50px;">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Create now</button> -->
        <%= form.submit "Create now".html_safe, class: 'btn btn-secondary' %>
      </div>
      
    </div>
  </div>
</div>
<%end%>
</section>
<script>
    function updateForm(topic, user){
        $('#topic_id').val(topic)
        $('#user_id').val(user)
        console.log(topic)
    }
</script>
<% if flash[:success] %>
  <script>
    swal({
      html:true,
      title: "<%= flash[:success] %>",
      text: '<img draggable="false" class="emoji" alt="😀" src="https://s.w.org/images/core/emoji/2.3/svg/1f600.svg" style="max-width: 20%;">'
    });
  </script>
<% end %>