<section  class="first-section">

  <div class="container">
  <div class="row">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @topic.language %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @topic.status %>
</p>


</div>
</div>
</section>