<p id="notice"><%= notice %></p>
<section class="first-section">



  <div id="mainwrap">


        <h1><%= @instructor.name %></h1>
        <h2>Web Developer from Medford</h2>
        <ul id="menu">
          <li><a class="profile" href="#profile" title="Profile">Profile</a><span>Some information about me</span></li>
          <li><a class="resume" href="#resume" title="Resume">Resume</a><span>Professional information</span></li>

          <li><a class="contact" href="#contact" title="Contact">Contact</a><span>Get in touch</span></li>
        </ul>

      <div style="clear:both"></div>
      <div id="content">
        <div id="profile" class="section">
          <div class="column col3">
            <table id="bioinfo">
              <tbody>
                <tr>
                  <td class="odd">Name</td>
                  <td class="even"><%= @instructor.name %></td>
                </tr>
                <tr>
                  <td class="odd">Date of birth</td>
                  <td class="even">09.07.1999</td>
                </tr>
                <tr>
                  <td class="odd">Address</td>
                  <td class="even">Medford, MA</td>
                </tr>
                <tr>
                  <td class="odd">Languages</td>
                  <td class="even">English, French</td>
                </tr>
                <tr>
                  <td class="odd">Website</td>
                  <td class="even">mysite.com</td>
                </tr>
                <tr>
                  <td class="odd">Email</td>
                  <td class="even"><%= @instructor.email %></td>
                </tr>
              </tbody>
            </table>
            <ul class="social">
              <a href=""><i class="fa fa-twitter fa-2x"></i></a>
              <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
              <a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
              <a href=""><i class="fa fa-google-plus fa-2x"></i></a>
              <a href=""><i class="fa fa-github fa-2x"></i></a>
              <a href=""><i class="fa fa-youtube fa-2x"></i></a>
            </ul>
          </div>
          <div class="column col5 pl-50">
            <img src="http://img2.wikia.nocookie.net/__cb20100920201409/spongebob/images/a/a0/Sandy_Cheeks.svg" alt="Jane Medford" />
            <p>I am a web developer. I am also a squirrel that lives underwater? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
          </div>
        </div>

        <div id="resume" class="section">
          <table id="cv">
            <tbody>
              <tr>
                <td class="col2"><div class="date">April 2012 - present</div></td>
                <td class="col6 pl-30">
                  <p class="company">LenixCode</p>
                  <p class="title">Senior Web Developer</p>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                </td>
              </tr>
              <tr>
                <td class="col2"><div class="date">January 2011 - March 2012</span></td>
                <td class="col6 pl-30">
                  <p class="company">Bent&amp;Co</p>
                  <p class="title">Senior Web Developer</p>
                  <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                </td>
              </tr>
              <tr>
                <td class="col2"><div class="date">June 2008 - December 2010</span></td>
                <td class="col6 pl-30">
                  <p class="company">PC World</p>
                  <p class="title">Junior Web Developer</p>
                  <p class="description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div id="contact" class="section">
          <div class="column col3">
            <h3></h3>
            <p>Stockholm, Sweden</p>
            <p>Web: mysite.com<br />
              E-mail: <%= @instructor.email %></p>
          </div>
          <div class="column col5 pl-50">
            <h3>Send a message</h3>
            <form id="contactform">
              <p class="column col4"><label for="name">Name:</label><input type="text" name="name" id="name" /></p>
              <p class="column col4"><label for="email">E-mail:</label><input type="text" name="email" id="email" /></p>
              <p class="column col8"><label for="message">Message:</label><textarea rows="5" name="message" id="message"></textarea></p>
              <p class="column col8"><input class="button" type="button" value="Submit" /></p>
            </form>
          </div>
        </div>
      </div>


    </div>
  </body>

</div>
</div>
</section>
<%= link_to 'Back', instructors_path %>
