<section class="first-section">
  <div class="container">
  <div class="row">

   
      <h1>My subscriptions</h1>
      <hr/>

      <div class="text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-filter" data-target="pagado">Active</button>
          <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pending</button>
          <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Cancelled</button>
          <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
        </div>
      </div>
      <br/>
      <div class="col-md-9">
        <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <% @subscriptions.each_with_index do |subscription, index| %>
                  <tr data-status="pagado">
                    <td>
                      <div class="ckbox">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:;" class="star">
                        <i class="glyphicon glyphicon-star"></i>
                      </a>
                    </td>
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span class="media-meta pull-right">Expires <%= subscription.expiration.strftime("at %b %d, %y") %></span>
                          <h4 class="title">
                            <%= subscription.course.title %>
                            <span class="pull-right pagado">(<%= subscription.status %>)</span>
                          </h4>
                          <p class="summary"><%= subscription.course.description %></p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <%= link_to 'WATCH NOW', course_path(subscription.course.id), class: "btn btn-success" %>
                    </td>
                  </tr>
                  <% end %>
                  
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

      <%= render 'layouts/partials/user_menu' %>

      </div>
    
  </div>
</div>
 
</section>
<% if flash[:success] %>
  <script>
    swal({
      html:true,
      title: "<%= flash[:success] %>",
      text: '<img draggable="false" class="emoji" alt="😀" src="https://s.w.org/images/core/emoji/2.3/svg/1f600.svg" style="max-width: 20%;">'
    });
  </script>
<% end %>