<%= form_with(model: commitment, local: true) do |form| %>
  <% if commitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

      <ul>
      <% commitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :commitment_price %>
  </div>

  <div class="field">
    <%= form.label :topic_id %>
    <%= form.number_field :topic_id, id: :commitment_topic_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :commitment_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
