<p id="notice"><%= notice %></p>

<h1>Commitments</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Topic</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commitments.each do |commitment| %>
      <tr>
        <td><%= commitment.price %></td>
        <td><%= commitment.topic_id %></td>
        <td><%= commitment.user_id %></td>
        <td><%= link_to 'Show', commitment %></td>
        <td><%= link_to 'Edit', edit_commitment_path(commitment) %></td>
        <td><%= link_to 'Destroy', commitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commitment', new_commitment_path %>
