<section  class="first-section">

<div class="margin-top_angel">
  <div class="container">


    <div class="row">
      <p id="notice"><%= notice %></p>

      <!-- <div class="col-md-8"> -->
        <div class="text-center">
        <h2>Lets join to a course!</h2>
      </div>
        <hr/>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Courses</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">

                <thead>
                  <tr>
                    <th>Title</th>
                    <!-- <th>Course type</th> -->
                    <th class="text-center">Instructor</th>
                    <th class="text-center">No. Units</th>
                    <th class="text-center">Language</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @courses.each do |course| %>
                  <tr>
                    <td><%= course.title %></td>
                    <td><%= course.language %></td>
                    <td class="text-center"><%= course.instructor.name %></td>
                    <td class="text-center"><%= course.units.count %></td>
                    <td><%= link_to 'Show', course %></td>
                    <!-- <td><%= link_to 'Edit', edit_course_path(course) %></td> -->
                    <td><%= link_to 'Subscribe'  %></td>
                  </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<br>

</section>
