<section  class="first-section">

<div class="margin-top_angel">
  <div class="container">


    <div class="row">
      <p id="notice"><%= notice %></p>

      <!-- <div class="col-md-8"> -->
        <div class="text-center">
        <h2>Lets join a course!</h2>
      </div>
        <hr/>
        <div class="col-md-9">
          <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Courses</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">

                <thead>
                  <tr>
                    <th>Title</th>
                    <th class="text-center">Language</th>
                    <th class="text-center">Instructor</th>
                    <th class="text-center">Units</th>
                    <th class="text-center">Hours</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @courses.each do |course| %>
                  <tr>
                    <td><%= course.title %></td>
                    <td><%= course.topic.language %></td>
                    <td class="text-center"><a><%= course.instructor.name %></a></td>
                    <td class="text-center"><%= course.units.count %></td>
                    <td class="text-center"><%= get_total_time(course) %></td>
                    <td><%= link_to 'Show', course, class: 'btn btn-default btn-xs' %></td>
                    <td><%= link_to 'Subscribe',  subscriptions_url(subscription: { course_id: course }), method: 'POST', class: 'btn btn-warning btn-xs'  %></td>
                  </tr>
                  <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        
        <%= render 'layouts/partials/user_menu' %>
      </div>
    </div>
  </div>
</div>
<br>

</section>
<% if flash[:success] %>
  <script>
    swal({
      html:true,
      title: "<%= flash[:success] %>",
      text: '<img draggable="false" class="emoji" alt="😀" src="https://s.w.org/images/core/emoji/2.3/svg/1f600.svg" style="max-width: 20%;">'
    });
  </script>
<% end %>