<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Course type:</strong>
  <%= @course.course_type %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @course.topic_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
