<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @unit.duration %>
</p>

<p>
  <strong>Embed code:</strong>
  <%= @unit.embed_code %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
