<section  class="first-section">

  <div class="container">
  <div class="row">
  	<div class="col-md-9">
  		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @unit.name %>
		</p>

		<p>
		  <strong>Duration:</strong>
		  <%= @unit.duration %>
		</p>

		<p>
		  <strong>Embed code:</strong>
		  <%= @unit.embed_code.html_safe %>

          <%= social_share_button_tag(@unit.name) %>

		</p>

  	</div>
  	<div class="col-md-3">
  		<p>
		  <strong>Comments:</strong>
		  <%= @unit.comments.each do |c| %>
		   <span><%= c.comment %></span>
		  <% end %>
		</p>
  	</div>


</div>
</div>
</section>