
<!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand custom-logo" href="#">

                  <%= link_to image_tag('logoandletterwhite'), root_path %>
                </div>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                <% if !current_user %>
                    <li>
                        <a href="/" >Home</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>

                    <li class="<%=active_class('/contact')%>">
                      <%= link_to 'Contact', contact_path %>
                    </li>

                    <div class="dropdown">
                      <a href="" id="grid">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                      </a>

                      <div class="dropdown-content">
                        <a href="#"><i class="fa fa-code" aria-hidden="true"></i> Development</a>
                        <a href="#"><i class="fa fa-flask" aria-hidden="true"></i> Data Science</a>
                        <a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> IT</a>
                        <a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Analytics</a>
                        <a href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i> Design</a>
                        <a href="#"><i class="fa fa-cloud" aria-hidden="true"></i> Software</a>
                        <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Hardware</a>
                      </div>
                    <!--   <button type="button" class="btn btn-primary" >
                          Launch demo modal
                        </button> -->

                    </div>
                    <li class="<%=active_class('/course')%>">
                        <%= link_to 'Courses', courses_path %>
                    </li>

                <% else %>
                    <li class="<%=active_class('/course')%>">
                        <%= link_to '<i class="fa fa-dashboard" ></i>&ensp;Dashboard'.html_safe, dashboard_path %>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <%=current_user.name%>&nbsp;
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <%= image_tag current_user.avatar, class:'img-responsive'%>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong><%=current_user.name%></strong></p>
                                        <p class="text-left small"><%=current_user.email%></p>
                                        <p class="text-left">
                                            <%= link_to 'Update profile', profile_path, class: 'btn btn-warning btn-block btn-sm' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <%= link_to 'Logout', logout_path, class: "btn btn-danger btn-block" %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                    
                
                <% end %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

<!-- Header -->
